/* html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
} */

#stars {
  position: absolute;
  left: 0;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1283px 213px #fff, 406px 1172px #fff, 1471px 162px #fff,
    462px 1057px #fff, 1731px 332px #fff, 1247px 1961px #fff, 1824px 1477px #fff,
    598px 278px #fff, 784px 1395px #fff, 391px 963px #fff, 1826px 1834px #fff,
    944px 75px #fff, 471px 996px #fff, 1893px 369px #fff, 155px 78px #fff,
    796px 185px #fff, 1736px 159px #fff, 973px 688px #fff, 1191px 981px #fff,
    309px 1519px #fff, 195px 1936px #fff, 1799px 109px #fff, 1623px 1218px #fff,
    162px 217px #fff, 1048px 1970px #fff, 1293px 1088px #fff, 1540px 1307px #fff,
    106px 1788px #fff, 1038px 915px #fff, 1570px 149px #fff, 1876px 1577px #fff,
    494px 1638px #fff, 515px 53px #fff, 1682px 78px #fff, 1961px 202px #fff,
    701px 644px #fff, 1505px 1318px #fff, 1534px 1411px #fff, 1563px 590px #fff,
    1977px 1186px #fff, 1531px 1053px #fff, 198px 597px #fff, 1890px 1558px #fff,
    1407px 1246px #fff, 518px 1780px #fff, 585px 599px #fff, 1578px 20px #fff,
    349px 466px #fff, 1707px 1834px #fff, 1165px 1194px #fff, 1008px 1148px #fff,
    1202px 332px #fff, 1088px 1297px #fff, 1476px 1660px #fff, 451px 585px #fff,
    857px 936px #fff, 1875px 1165px #fff, 1995px 535px #fff, 981px 1052px #fff,
    958px 1220px #fff, 1963px 1246px #fff, 11px 1452px #fff, 1476px 1611px #fff,
    1032px 75px #fff, 1085px 489px #fff, 531px 1668px #fff, 1730px 1804px #fff,
    1961px 332px #fff, 495px 449px #fff, 760px 209px #fff, 1830px 232px #fff,
    1879px 907px #fff, 1910px 94px #fff, 1221px 309px #fff, 1643px 693px #fff,
    429px 1489px #fff, 1474px 1513px #fff, 1493px 547px #fff, 1067px 794px #fff,
    1327px 434px #fff, 664px 244px #fff, 654px 618px #fff, 261px 1081px #fff,
    520px 937px #fff, 1997px 864px #fff, 1281px 170px #fff, 1291px 452px #fff,
    958px 601px #fff, 197px 1868px #fff, 1037px 1396px #fff, 419px 1778px #fff,
    1241px 671px #fff, 1136px 1939px #fff, 1712px 726px #fff, 1156px 1523px #fff,
    1522px 81px #fff, 223px 1306px #fff, 1721px 659px #fff, 951px 411px #fff,
    449px 627px #fff, 445px 1387px #fff, 98px 1727px #fff, 1199px 1984px #fff,
    1441px 985px #fff, 871px 219px #fff, 1667px 1087px #fff, 1287px 770px #fff,
    803px 1305px #fff, 1765px 323px #fff, 1918px 83px #fff, 129px 1056px #fff,
    41px 754px #fff, 1910px 314px #fff, 601px 1238px #fff, 544px 727px #fff,
    1186px 3px #fff, 1149px 1918px #fff, 204px 1743px #fff, 398px 1949px #fff,
    857px 1973px #fff, 561px 738px #fff, 562px 4px #fff, 17px 262px #fff,
    681px 400px #fff, 1156px 837px #fff, 1168px 367px #fff, 844px 1129px #fff,
    88px 225px #fff, 1889px 1219px #fff, 879px 1290px #fff, 1022px 1589px #fff,
    391px 1155px #fff, 899px 1053px #fff, 1508px 1711px #fff, 1116px 335px #fff,
    1951px 1171px #fff, 1274px 1658px #fff, 1288px 1034px #fff,
    637px 1857px #fff, 986px 1692px #fff, 507px 1738px #fff, 183px 1199px #fff,
    965px 141px #fff, 297px 490px #fff, 1090px 1759px #fff, 1025px 331px #fff,
    788px 405px #fff, 76px 1490px #fff, 1156px 1874px #fff, 1122px 308px #fff,
    1669px 1420px #fff, 823px 1332px #fff, 718px 517px #fff, 1910px 963px #fff,
    1921px 34px #fff, 356px 87px #fff, 58px 696px #fff, 604px 1121px #fff,
    732px 1229px #fff, 135px 781px #fff, 1078px 1647px #fff, 748px 1189px #fff,
    1398px 142px #fff, 1286px 642px #fff, 1052px 748px #fff, 669px 579px #fff,
    1952px 57px #fff, 554px 1668px #fff, 1446px 1256px #fff, 75px 1774px #fff,
    1356px 1194px #fff, 496px 1611px #fff, 9px 1352px #fff, 1554px 449px #fff,
    1363px 811px #fff, 1361px 1348px #fff, 1539px 727px #fff, 662px 1246px #fff,
    1785px 850px #fff, 894px 1064px #fff, 1352px 1114px #fff, 1458px 1238px #fff,
    1769px 297px #fff, 1314px 825px #fff, 2px 734px #fff, 1811px 1445px #fff,
    291px 319px #fff, 488px 1389px #fff, 1190px 1987px #fff, 506px 141px #fff,
    43px 250px #fff, 752px 162px #fff, 601px 239px #fff, 1863px 592px #fff,
    1622px 78px #fff, 1757px 1244px #fff, 775px 405px #fff, 398px 1783px #fff,
    209px 417px #fff, 669px 1583px #fff, 1252px 304px #fff, 1734px 1061px #fff,
    203px 521px #fff, 1607px 1216px #fff, 525px 11px #fff, 1877px 1360px #fff,
    1999px 1775px #fff, 774px 353px #fff, 897px 1845px #fff, 1057px 1479px #fff,
    469px 1998px #fff, 1444px 1915px #fff, 594px 261px #fff, 624px 1757px #fff,
    4px 1697px #fff, 871px 1591px #fff, 1613px 226px #fff, 1588px 1478px #fff,
    338px 1782px #fff, 94px 795px #fff, 1551px 1304px #fff, 877px 671px #fff,
    1956px 1711px #fff, 431px 301px #fff, 407px 569px #fff, 245px 179px #fff,
    1070px 908px #fff, 996px 1039px #fff, 587px 1997px #fff, 412px 1375px #fff,
    984px 302px #fff, 1136px 1542px #fff, 712px 1495px #fff, 831px 311px #fff,
    639px 1244px #fff, 1189px 1560px #fff, 1904px 1062px #fff, 404px 1381px #fff,
    1371px 975px #fff, 1438px 753px #fff, 1125px 1376px #fff, 1968px 157px #fff,
    1283px 842px #fff, 505px 612px #fff, 1151px 1792px #fff, 1698px 798px #fff,
    363px 138px #fff, 1353px 393px #fff, 480px 1547px #fff, 1412px 617px #fff,
    593px 790px #fff, 29px 1676px #fff, 1998px 1449px #fff, 1134px 1734px #fff,
    256px 952px #fff, 656px 893px #fff, 1181px 864px #fff, 207px 1854px #fff,
    1876px 1358px #fff, 1866px 1794px #fff, 1577px 1925px #fff,
    1468px 1106px #fff, 1373px 752px #fff, 71px 1337px #fff, 1560px 131px #fff,
    884px 559px #fff, 1842px 438px #fff, 388px 898px #fff, 790px 480px #fff,
    63px 595px #fff, 1452px 1024px #fff, 639px 1976px #fff, 492px 489px #fff,
    16px 1446px #fff, 1556px 1919px #fff, 964px 1177px #fff, 1961px 959px #fff,
    1141px 116px #fff, 1341px 14px #fff, 106px 216px #fff, 1688px 1256px #fff,
    1755px 885px #fff, 640px 1646px #fff, 906px 1587px #fff, 1724px 1763px #fff,
    893px 872px #fff, 1016px 1899px #fff, 1702px 28px #fff, 190px 199px #fff,
    600px 1921px #fff, 320px 1819px #fff, 1940px 369px #fff, 1863px 1398px #fff,
    361px 428px #fff, 459px 873px #fff, 181px 1136px #fff, 75px 377px #fff,
    1876px 1573px #fff, 1914px 1577px #fff, 1655px 1619px #fff,
    593px 1685px #fff, 228px 1614px #fff, 1406px 185px #fff, 316px 1337px #fff,
    65px 556px #fff, 1548px 1609px #fff, 1214px 201px #fff, 373px 1669px #fff,
    164px 1284px #fff, 986px 1543px #fff, 418px 1001px #fff, 981px 1399px #fff,
    1271px 1727px #fff, 1437px 1647px #fff, 947px 553px #fff, 1550px 1625px #fff,
    976px 1022px #fff, 1187px 1948px #fff, 239px 779px #fff, 409px 1817px #fff,
    737px 905px #fff, 725px 544px #fff, 244px 519px #fff, 1933px 70px #fff,
    296px 624px #fff, 1233px 706px #fff, 758px 715px #fff, 1995px 1550px #fff,
    1774px 1698px #fff, 1351px 1358px #fff, 1185px 899px #fff,
    1037px 1956px #fff, 1895px 1690px #fff, 229px 1410px #fff, 1561px 17px #fff,
    1237px 1847px #fff, 473px 722px #fff, 814px 1315px #fff, 654px 1963px #fff,
    1753px 490px #fff, 1664px 1295px #fff, 1530px 77px #fff, 1470px 846px #fff,
    341px 1051px #fff, 1151px 630px #fff, 1239px 1748px #fff, 646px 725px #fff,
    1708px 761px #fff, 1146px 35px #fff, 764px 1207px #fff, 49px 663px #fff,
    1989px 1924px #fff, 1243px 1405px #fff, 345px 1011px #fff, 1515px 167px #fff,
    558px 184px #fff, 655px 1739px #fff, 786px 975px #fff, 794px 1725px #fff,
    1267px 912px #fff, 1234px 139px #fff, 645px 154px #fff, 787px 40px #fff,
    601px 600px #fff, 2px 1474px #fff, 352px 455px #fff, 1198px 946px #fff,
    291px 1813px #fff, 90px 1884px #fff, 1926px 1101px #fff, 626px 168px #fff,
    185px 1470px #fff, 1543px 1913px #fff, 338px 171px #fff, 596px 1602px #fff,
    339px 899px #fff, 1766px 242px #fff, 1549px 258px #fff, 260px 167px #fff,
    1404px 1206px #fff, 299px 1777px #fff, 501px 1183px #fff, 482px 135px #fff,
    260px 403px #fff, 649px 1308px #fff, 977px 1051px #fff, 282px 1728px #fff,
    1597px 315px #fff, 1736px 366px #fff, 1486px 567px #fff, 1317px 1801px #fff,
    1016px 319px #fff, 1055px 637px #fff, 1421px 449px #fff, 209px 330px #fff,
    1429px 785px #fff, 1774px 1690px #fff, 755px 302px #fff, 1726px 98px #fff,
    81px 966px #fff, 701px 333px #fff, 1093px 1780px #fff, 210px 1844px #fff,
    1584px 509px #fff, 654px 1310px #fff, 111px 352px #fff, 1360px 55px #fff,
    239px 691px #fff, 1211px 722px #fff, 870px 327px #fff, 1715px 1648px #fff,
    791px 988px #fff, 379px 1907px #fff, 1514px 496px #fff, 1551px 1022px #fff,
    182px 1071px #fff, 1453px 1700px #fff, 749px 1099px #fff, 1372px 1158px #fff,
    1570px 1414px #fff, 1487px 982px #fff, 1121px 1064px #fff, 537px 1113px #fff,
    286px 362px #fff, 68px 617px #fff, 1091px 1519px #fff, 1413px 222px #fff,
    1917px 1313px #fff, 518px 1534px #fff, 178px 108px #fff, 1707px 171px #fff,
    958px 768px #fff, 478px 108px #fff, 898px 295px #fff, 1339px 1276px #fff,
    1633px 1887px #fff, 555px 1617px #fff, 1995px 534px #fff, 1681px 1416px #fff,
    124px 1971px #fff, 1261px 575px #fff, 1365px 1833px #fff, 565px 1853px #fff,
    137px 634px #fff, 122px 472px #fff, 950px 1778px #fff, 589px 1320px #fff,
    285px 1332px #fff, 1384px 415px #fff, 1737px 137px #fff, 449px 457px #fff,
    1234px 104px #fff, 111px 1258px #fff, 14px 1638px #fff, 1361px 140px #fff,
    1387px 171px #fff, 1313px 428px #fff, 1225px 946px #fff, 1249px 1711px #fff,
    199px 774px #fff, 1494px 527px #fff, 516px 803px #fff, 1507px 1711px #fff,
    1363px 1294px #fff, 1279px 1135px #fff, 411px 1133px #fff, 372px 868px #fff,
    1810px 611px #fff, 389px 79px #fff, 792px 208px #fff, 1877px 1613px #fff,
    516px 1748px #fff, 1415px 1748px #fff, 995px 1134px #fff, 1550px 1727px #fff,
    443px 1020px #fff, 1501px 497px #fff, 1101px 1389px #fff, 89px 1311px #fff,
    1000px 808px #fff, 389px 871px #fff, 1725px 866px #fff, 1172px 158px #fff,
    1465px 1835px #fff, 142px 1863px #fff, 1192px 602px #fff, 965px 1147px #fff,
    236px 1541px #fff, 869px 862px #fff, 882px 999px #fff, 338px 1615px #fff,
    181px 1049px #fff, 459px 1986px #fff, 1668px 1200px #fff, 499px 457px #fff,
    886px 71px #fff, 30px 426px #fff, 1060px 1690px #fff, 1259px 976px #fff,
    1453px 9px #fff, 515px 1188px #fff, 1985px 1000px #fff, 8px 1718px #fff,
    208px 886px #fff, 1931px 1605px #fff, 1077px 1691px #fff, 981px 945px #fff,
    1518px 837px #fff, 993px 1131px #fff, 729px 1045px #fff, 58px 603px #fff,
    1888px 1413px #fff, 1792px 937px #fff, 1240px 1009px #fff, 622px 1368px #fff,
    1238px 702px #fff, 1692px 355px #fff, 1862px 1932px #fff, 1851px 238px #fff,
    929px 1357px #fff, 1862px 578px #fff, 516px 773px #fff, 1047px 1809px #fff,
    1788px 1032px #fff, 963px 568px #fff, 1463px 1381px #fff, 1872px 625px #fff,
    1864px 246px #fff, 1684px 475px #fff, 405px 547px #fff, 668px 22px #fff,
    841px 1453px #fff, 141px 879px #fff, 256px 699px #fff, 1813px 895px #fff,
    1934px 61px #fff, 1450px 302px #fff, 1237px 814px #fff, 618px 491px #fff,
    337px 199px #fff, 641px 1539px #fff, 441px 1477px #fff, 1847px 804px #fff,
    1566px 195px #fff, 1248px 1967px #fff, 569px 1809px #fff, 1202px 776px #fff,
    263px 1570px #fff, 764px 1481px #fff, 994px 1919px #fff, 1044px 1187px #fff,
    654px 1572px #fff, 1081px 1441px #fff, 1251px 110px #fff, 1573px 1572px #fff,
    1237px 483px #fff, 1435px 1231px #fff, 1240px 1468px #fff,
    1629px 1382px #fff, 885px 1734px #fff, 1442px 907px #fff, 517px 1090px #fff,
    759px 931px #fff, 1493px 1123px #fff, 1306px 817px #fff, 814px 1472px #fff,
    1203px 320px #fff, 183px 751px #fff, 56px 1084px #fff, 945px 588px #fff,
    1629px 1881px #fff, 994px 1003px #fff, 1598px 1877px #fff, 209px 1512px #fff,
    965px 1131px #fff, 786px 1336px #fff, 598px 480px #fff, 1280px 1390px #fff,
    45px 1984px #fff, 1995px 868px #fff, 1170px 1434px #fff, 1361px 403px #fff,
    953px 563px #fff, 1085px 298px #fff, 590px 1733px #fff, 592px 384px #fff,
    797px 924px #fff, 187px 143px #fff, 1405px 623px #fff, 53px 1149px #fff,
    334px 360px #fff, 566px 164px #fff, 466px 1601px #fff, 1620px 1944px #fff,
    618px 426px #fff, 1223px 387px #fff, 1269px 1965px #fff, 492px 1738px #fff,
    1507px 1315px #fff, 720px 1149px #fff, 1565px 1327px #fff,
    1445px 1861px #fff, 1802px 838px #fff, 299px 14px #fff, 106px 1630px #fff,
    253px 1550px #fff, 515px 1487px #fff, 113px 23px #fff, 1912px 470px #fff,
    438px 1497px #fff, 1490px 1819px #fff, 945px 310px #fff, 1169px 1508px #fff,
    586px 967px #fff, 1585px 504px #fff, 612px 666px #fff, 1588px 1516px #fff,
    1216px 513px #fff, 737px 900px #fff, 1264px 1988px #fff, 802px 1173px #fff,
    154px 1997px #fff, 1862px 966px #fff, 977px 940px #fff, 982px 513px #fff,
    792px 1028px #fff, 867px 1144px #fff, 457px 311px #fff, 1958px 1343px #fff,
    1829px 1198px #fff, 1141px 1710px #fff, 984px 221px #fff, 1410px 1571px #fff,
    1905px 963px #fff, 329px 1073px #fff, 858px 615px #fff, 866px 1270px #fff,
    1994px 1683px #fff, 369px 1738px #fff, 70px 593px #fff, 1538px 1532px #fff,
    1389px 1972px #fff, 131px 1973px #fff, 1160px 35px #fff, 1808px 164px #fff,
    31px 356px #fff, 487px 1860px #fff, 1745px 731px #fff, 912px 1958px #fff,
    340px 775px #fff, 602px 330px #fff, 328px 1495px #fff, 918px 1714px #fff,
    1768px 1031px #fff, 743px 457px #fff, 468px 480px #fff, 1544px 612px #fff,
    1035px 1223px #fff, 1981px 158px #fff, 995px 614px #fff, 1843px 1628px #fff,
    604px 749px #fff, 429px 692px #fff, 769px 1208px #fff, 1828px 1990px #fff,
    1380px 1738px #fff, 1158px 429px #fff, 1097px 969px #fff, 779px 965px #fff,
    967px 816px #fff, 1394px 749px #fff, 539px 1129px #fff, 1323px 1301px #fff,
    884px 1560px #fff, 67px 517px #fff, 502px 1626px #fff, 1784px 644px #fff,
    1322px 1019px #fff, 359px 772px #fff, 409px 1337px #fff, 747px 1961px #fff,
    1788px 663px #fff, 172px 1433px #fff, 1797px 1640px #fff, 999px 324px #fff,
    1246px 184px #fff, 778px 1044px #fff, 1922px 147px #fff, 1576px 777px #fff,
    702px 168px #fff, 1452px 26px #fff, 371px 650px #fff, 277px 1589px #fff,
    1386px 1048px #fff, 284px 1051px #fff, 1137px 236px #fff, 1441px 1126px #fff,
    1081px 315px #fff, 1323px 1082px #fff, 1996px 1733px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  /* top: 2000px; */
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1283px 213px #fff, 406px 1172px #fff, 1471px 162px #fff,
    462px 1057px #fff, 1731px 332px #fff, 1247px 1961px #fff, 1824px 1477px #fff,
    598px 278px #fff, 784px 1395px #fff, 391px 963px #fff, 1826px 1834px #fff,
    944px 75px #fff, 471px 996px #fff, 1893px 369px #fff, 155px 78px #fff,
    796px 185px #fff, 1736px 159px #fff, 973px 688px #fff, 1191px 981px #fff,
    309px 1519px #fff, 195px 1936px #fff, 1799px 109px #fff, 1623px 1218px #fff,
    162px 217px #fff, 1048px 1970px #fff, 1293px 1088px #fff, 1540px 1307px #fff,
    106px 1788px #fff, 1038px 915px #fff, 1570px 149px #fff, 1876px 1577px #fff,
    494px 1638px #fff, 515px 53px #fff, 1682px 78px #fff, 1961px 202px #fff,
    701px 644px #fff, 1505px 1318px #fff, 1534px 1411px #fff, 1563px 590px #fff,
    1977px 1186px #fff, 1531px 1053px #fff, 198px 597px #fff, 1890px 1558px #fff,
    1407px 1246px #fff, 518px 1780px #fff, 585px 599px #fff, 1578px 20px #fff,
    349px 466px #fff, 1707px 1834px #fff, 1165px 1194px #fff, 1008px 1148px #fff,
    1202px 332px #fff, 1088px 1297px #fff, 1476px 1660px #fff, 451px 585px #fff,
    857px 936px #fff, 1875px 1165px #fff, 1995px 535px #fff, 981px 1052px #fff,
    958px 1220px #fff, 1963px 1246px #fff, 11px 1452px #fff, 1476px 1611px #fff,
    1032px 75px #fff, 1085px 489px #fff, 531px 1668px #fff, 1730px 1804px #fff,
    1961px 332px #fff, 495px 449px #fff, 760px 209px #fff, 1830px 232px #fff,
    1879px 907px #fff, 1910px 94px #fff, 1221px 309px #fff, 1643px 693px #fff,
    429px 1489px #fff, 1474px 1513px #fff, 1493px 547px #fff, 1067px 794px #fff,
    1327px 434px #fff, 664px 244px #fff, 654px 618px #fff, 261px 1081px #fff,
    520px 937px #fff, 1997px 864px #fff, 1281px 170px #fff, 1291px 452px #fff,
    958px 601px #fff, 197px 1868px #fff, 1037px 1396px #fff, 419px 1778px #fff,
    1241px 671px #fff, 1136px 1939px #fff, 1712px 726px #fff, 1156px 1523px #fff,
    1522px 81px #fff, 223px 1306px #fff, 1721px 659px #fff, 951px 411px #fff,
    449px 627px #fff, 445px 1387px #fff, 98px 1727px #fff, 1199px 1984px #fff,
    1441px 985px #fff, 871px 219px #fff, 1667px 1087px #fff, 1287px 770px #fff,
    803px 1305px #fff, 1765px 323px #fff, 1918px 83px #fff, 129px 1056px #fff,
    41px 754px #fff, 1910px 314px #fff, 601px 1238px #fff, 544px 727px #fff,
    1186px 3px #fff, 1149px 1918px #fff, 204px 1743px #fff, 398px 1949px #fff,
    857px 1973px #fff, 561px 738px #fff, 562px 4px #fff, 17px 262px #fff,
    681px 400px #fff, 1156px 837px #fff, 1168px 367px #fff, 844px 1129px #fff,
    88px 225px #fff, 1889px 1219px #fff, 879px 1290px #fff, 1022px 1589px #fff,
    391px 1155px #fff, 899px 1053px #fff, 1508px 1711px #fff, 1116px 335px #fff,
    1951px 1171px #fff, 1274px 1658px #fff, 1288px 1034px #fff,
    637px 1857px #fff, 986px 1692px #fff, 507px 1738px #fff, 183px 1199px #fff,
    965px 141px #fff, 297px 490px #fff, 1090px 1759px #fff, 1025px 331px #fff,
    788px 405px #fff, 76px 1490px #fff, 1156px 1874px #fff, 1122px 308px #fff,
    1669px 1420px #fff, 823px 1332px #fff, 718px 517px #fff, 1910px 963px #fff,
    1921px 34px #fff, 356px 87px #fff, 58px 696px #fff, 604px 1121px #fff,
    732px 1229px #fff, 135px 781px #fff, 1078px 1647px #fff, 748px 1189px #fff,
    1398px 142px #fff, 1286px 642px #fff, 1052px 748px #fff, 669px 579px #fff,
    1952px 57px #fff, 554px 1668px #fff, 1446px 1256px #fff, 75px 1774px #fff,
    1356px 1194px #fff, 496px 1611px #fff, 9px 1352px #fff, 1554px 449px #fff,
    1363px 811px #fff, 1361px 1348px #fff, 1539px 727px #fff, 662px 1246px #fff,
    1785px 850px #fff, 894px 1064px #fff, 1352px 1114px #fff, 1458px 1238px #fff,
    1769px 297px #fff, 1314px 825px #fff, 2px 734px #fff, 1811px 1445px #fff,
    291px 319px #fff, 488px 1389px #fff, 1190px 1987px #fff, 506px 141px #fff,
    43px 250px #fff, 752px 162px #fff, 601px 239px #fff, 1863px 592px #fff,
    1622px 78px #fff, 1757px 1244px #fff, 775px 405px #fff, 398px 1783px #fff,
    209px 417px #fff, 669px 1583px #fff, 1252px 304px #fff, 1734px 1061px #fff,
    203px 521px #fff, 1607px 1216px #fff, 525px 11px #fff, 1877px 1360px #fff,
    1999px 1775px #fff, 774px 353px #fff, 897px 1845px #fff, 1057px 1479px #fff,
    469px 1998px #fff, 1444px 1915px #fff, 594px 261px #fff, 624px 1757px #fff,
    4px 1697px #fff, 871px 1591px #fff, 1613px 226px #fff, 1588px 1478px #fff,
    338px 1782px #fff, 94px 795px #fff, 1551px 1304px #fff, 877px 671px #fff,
    1956px 1711px #fff, 431px 301px #fff, 407px 569px #fff, 245px 179px #fff,
    1070px 908px #fff, 996px 1039px #fff, 587px 1997px #fff, 412px 1375px #fff,
    984px 302px #fff, 1136px 1542px #fff, 712px 1495px #fff, 831px 311px #fff,
    639px 1244px #fff, 1189px 1560px #fff, 1904px 1062px #fff, 404px 1381px #fff,
    1371px 975px #fff, 1438px 753px #fff, 1125px 1376px #fff, 1968px 157px #fff,
    1283px 842px #fff, 505px 612px #fff, 1151px 1792px #fff, 1698px 798px #fff,
    363px 138px #fff, 1353px 393px #fff, 480px 1547px #fff, 1412px 617px #fff,
    593px 790px #fff, 29px 1676px #fff, 1998px 1449px #fff, 1134px 1734px #fff,
    256px 952px #fff, 656px 893px #fff, 1181px 864px #fff, 207px 1854px #fff,
    1876px 1358px #fff, 1866px 1794px #fff, 1577px 1925px #fff,
    1468px 1106px #fff, 1373px 752px #fff, 71px 1337px #fff, 1560px 131px #fff,
    884px 559px #fff, 1842px 438px #fff, 388px 898px #fff, 790px 480px #fff,
    63px 595px #fff, 1452px 1024px #fff, 639px 1976px #fff, 492px 489px #fff,
    16px 1446px #fff, 1556px 1919px #fff, 964px 1177px #fff, 1961px 959px #fff,
    1141px 116px #fff, 1341px 14px #fff, 106px 216px #fff, 1688px 1256px #fff,
    1755px 885px #fff, 640px 1646px #fff, 906px 1587px #fff, 1724px 1763px #fff,
    893px 872px #fff, 1016px 1899px #fff, 1702px 28px #fff, 190px 199px #fff,
    600px 1921px #fff, 320px 1819px #fff, 1940px 369px #fff, 1863px 1398px #fff,
    361px 428px #fff, 459px 873px #fff, 181px 1136px #fff, 75px 377px #fff,
    1876px 1573px #fff, 1914px 1577px #fff, 1655px 1619px #fff,
    593px 1685px #fff, 228px 1614px #fff, 1406px 185px #fff, 316px 1337px #fff,
    65px 556px #fff, 1548px 1609px #fff, 1214px 201px #fff, 373px 1669px #fff,
    164px 1284px #fff, 986px 1543px #fff, 418px 1001px #fff, 981px 1399px #fff,
    1271px 1727px #fff, 1437px 1647px #fff, 947px 553px #fff, 1550px 1625px #fff,
    976px 1022px #fff, 1187px 1948px #fff, 239px 779px #fff, 409px 1817px #fff,
    737px 905px #fff, 725px 544px #fff, 244px 519px #fff, 1933px 70px #fff,
    296px 624px #fff, 1233px 706px #fff, 758px 715px #fff, 1995px 1550px #fff,
    1774px 1698px #fff, 1351px 1358px #fff, 1185px 899px #fff,
    1037px 1956px #fff, 1895px 1690px #fff, 229px 1410px #fff, 1561px 17px #fff,
    1237px 1847px #fff, 473px 722px #fff, 814px 1315px #fff, 654px 1963px #fff,
    1753px 490px #fff, 1664px 1295px #fff, 1530px 77px #fff, 1470px 846px #fff,
    341px 1051px #fff, 1151px 630px #fff, 1239px 1748px #fff, 646px 725px #fff,
    1708px 761px #fff, 1146px 35px #fff, 764px 1207px #fff, 49px 663px #fff,
    1989px 1924px #fff, 1243px 1405px #fff, 345px 1011px #fff, 1515px 167px #fff,
    558px 184px #fff, 655px 1739px #fff, 786px 975px #fff, 794px 1725px #fff,
    1267px 912px #fff, 1234px 139px #fff, 645px 154px #fff, 787px 40px #fff,
    601px 600px #fff, 2px 1474px #fff, 352px 455px #fff, 1198px 946px #fff,
    291px 1813px #fff, 90px 1884px #fff, 1926px 1101px #fff, 626px 168px #fff,
    185px 1470px #fff, 1543px 1913px #fff, 338px 171px #fff, 596px 1602px #fff,
    339px 899px #fff, 1766px 242px #fff, 1549px 258px #fff, 260px 167px #fff,
    1404px 1206px #fff, 299px 1777px #fff, 501px 1183px #fff, 482px 135px #fff,
    260px 403px #fff, 649px 1308px #fff, 977px 1051px #fff, 282px 1728px #fff,
    1597px 315px #fff, 1736px 366px #fff, 1486px 567px #fff, 1317px 1801px #fff,
    1016px 319px #fff, 1055px 637px #fff, 1421px 449px #fff, 209px 330px #fff,
    1429px 785px #fff, 1774px 1690px #fff, 755px 302px #fff, 1726px 98px #fff,
    81px 966px #fff, 701px 333px #fff, 1093px 1780px #fff, 210px 1844px #fff,
    1584px 509px #fff, 654px 1310px #fff, 111px 352px #fff, 1360px 55px #fff,
    239px 691px #fff, 1211px 722px #fff, 870px 327px #fff, 1715px 1648px #fff,
    791px 988px #fff, 379px 1907px #fff, 1514px 496px #fff, 1551px 1022px #fff,
    182px 1071px #fff, 1453px 1700px #fff, 749px 1099px #fff, 1372px 1158px #fff,
    1570px 1414px #fff, 1487px 982px #fff, 1121px 1064px #fff, 537px 1113px #fff,
    286px 362px #fff, 68px 617px #fff, 1091px 1519px #fff, 1413px 222px #fff,
    1917px 1313px #fff, 518px 1534px #fff, 178px 108px #fff, 1707px 171px #fff,
    958px 768px #fff, 478px 108px #fff, 898px 295px #fff, 1339px 1276px #fff,
    1633px 1887px #fff, 555px 1617px #fff, 1995px 534px #fff, 1681px 1416px #fff,
    124px 1971px #fff, 1261px 575px #fff, 1365px 1833px #fff, 565px 1853px #fff,
    137px 634px #fff, 122px 472px #fff, 950px 1778px #fff, 589px 1320px #fff,
    285px 1332px #fff, 1384px 415px #fff, 1737px 137px #fff, 449px 457px #fff,
    1234px 104px #fff, 111px 1258px #fff, 14px 1638px #fff, 1361px 140px #fff,
    1387px 171px #fff, 1313px 428px #fff, 1225px 946px #fff, 1249px 1711px #fff,
    199px 774px #fff, 1494px 527px #fff, 516px 803px #fff, 1507px 1711px #fff,
    1363px 1294px #fff, 1279px 1135px #fff, 411px 1133px #fff, 372px 868px #fff,
    1810px 611px #fff, 389px 79px #fff, 792px 208px #fff, 1877px 1613px #fff,
    516px 1748px #fff, 1415px 1748px #fff, 995px 1134px #fff, 1550px 1727px #fff,
    443px 1020px #fff, 1501px 497px #fff, 1101px 1389px #fff, 89px 1311px #fff,
    1000px 808px #fff, 389px 871px #fff, 1725px 866px #fff, 1172px 158px #fff,
    1465px 1835px #fff, 142px 1863px #fff, 1192px 602px #fff, 965px 1147px #fff,
    236px 1541px #fff, 869px 862px #fff, 882px 999px #fff, 338px 1615px #fff,
    181px 1049px #fff, 459px 1986px #fff, 1668px 1200px #fff, 499px 457px #fff,
    886px 71px #fff, 30px 426px #fff, 1060px 1690px #fff, 1259px 976px #fff,
    1453px 9px #fff, 515px 1188px #fff, 1985px 1000px #fff, 8px 1718px #fff,
    208px 886px #fff, 1931px 1605px #fff, 1077px 1691px #fff, 981px 945px #fff,
    1518px 837px #fff, 993px 1131px #fff, 729px 1045px #fff, 58px 603px #fff,
    1888px 1413px #fff, 1792px 937px #fff, 1240px 1009px #fff, 622px 1368px #fff,
    1238px 702px #fff, 1692px 355px #fff, 1862px 1932px #fff, 1851px 238px #fff,
    929px 1357px #fff, 1862px 578px #fff, 516px 773px #fff, 1047px 1809px #fff,
    1788px 1032px #fff, 963px 568px #fff, 1463px 1381px #fff, 1872px 625px #fff,
    1864px 246px #fff, 1684px 475px #fff, 405px 547px #fff, 668px 22px #fff,
    841px 1453px #fff, 141px 879px #fff, 256px 699px #fff, 1813px 895px #fff,
    1934px 61px #fff, 1450px 302px #fff, 1237px 814px #fff, 618px 491px #fff,
    337px 199px #fff, 641px 1539px #fff, 441px 1477px #fff, 1847px 804px #fff,
    1566px 195px #fff, 1248px 1967px #fff, 569px 1809px #fff, 1202px 776px #fff,
    263px 1570px #fff, 764px 1481px #fff, 994px 1919px #fff, 1044px 1187px #fff,
    654px 1572px #fff, 1081px 1441px #fff, 1251px 110px #fff, 1573px 1572px #fff,
    1237px 483px #fff, 1435px 1231px #fff, 1240px 1468px #fff,
    1629px 1382px #fff, 885px 1734px #fff, 1442px 907px #fff, 517px 1090px #fff,
    759px 931px #fff, 1493px 1123px #fff, 1306px 817px #fff, 814px 1472px #fff,
    1203px 320px #fff, 183px 751px #fff, 56px 1084px #fff, 945px 588px #fff,
    1629px 1881px #fff, 994px 1003px #fff, 1598px 1877px #fff, 209px 1512px #fff,
    965px 1131px #fff, 786px 1336px #fff, 598px 480px #fff, 1280px 1390px #fff,
    45px 1984px #fff, 1995px 868px #fff, 1170px 1434px #fff, 1361px 403px #fff,
    953px 563px #fff, 1085px 298px #fff, 590px 1733px #fff, 592px 384px #fff,
    797px 924px #fff, 187px 143px #fff, 1405px 623px #fff, 53px 1149px #fff,
    334px 360px #fff, 566px 164px #fff, 466px 1601px #fff, 1620px 1944px #fff,
    618px 426px #fff, 1223px 387px #fff, 1269px 1965px #fff, 492px 1738px #fff,
    1507px 1315px #fff, 720px 1149px #fff, 1565px 1327px #fff,
    1445px 1861px #fff, 1802px 838px #fff, 299px 14px #fff, 106px 1630px #fff,
    253px 1550px #fff, 515px 1487px #fff, 113px 23px #fff, 1912px 470px #fff,
    438px 1497px #fff, 1490px 1819px #fff, 945px 310px #fff, 1169px 1508px #fff,
    586px 967px #fff, 1585px 504px #fff, 612px 666px #fff, 1588px 1516px #fff,
    1216px 513px #fff, 737px 900px #fff, 1264px 1988px #fff, 802px 1173px #fff,
    154px 1997px #fff, 1862px 966px #fff, 977px 940px #fff, 982px 513px #fff,
    792px 1028px #fff, 867px 1144px #fff, 457px 311px #fff, 1958px 1343px #fff,
    1829px 1198px #fff, 1141px 1710px #fff, 984px 221px #fff, 1410px 1571px #fff,
    1905px 963px #fff, 329px 1073px #fff, 858px 615px #fff, 866px 1270px #fff,
    1994px 1683px #fff, 369px 1738px #fff, 70px 593px #fff, 1538px 1532px #fff,
    1389px 1972px #fff, 131px 1973px #fff, 1160px 35px #fff, 1808px 164px #fff,
    31px 356px #fff, 487px 1860px #fff, 1745px 731px #fff, 912px 1958px #fff,
    340px 775px #fff, 602px 330px #fff, 328px 1495px #fff, 918px 1714px #fff,
    1768px 1031px #fff, 743px 457px #fff, 468px 480px #fff, 1544px 612px #fff,
    1035px 1223px #fff, 1981px 158px #fff, 995px 614px #fff, 1843px 1628px #fff,
    604px 749px #fff, 429px 692px #fff, 769px 1208px #fff, 1828px 1990px #fff,
    1380px 1738px #fff, 1158px 429px #fff, 1097px 969px #fff, 779px 965px #fff,
    967px 816px #fff, 1394px 749px #fff, 539px 1129px #fff, 1323px 1301px #fff,
    884px 1560px #fff, 67px 517px #fff, 502px 1626px #fff, 1784px 644px #fff,
    1322px 1019px #fff, 359px 772px #fff, 409px 1337px #fff, 747px 1961px #fff,
    1788px 663px #fff, 172px 1433px #fff, 1797px 1640px #fff, 999px 324px #fff,
    1246px 184px #fff, 778px 1044px #fff, 1922px 147px #fff, 1576px 777px #fff,
    702px 168px #fff, 1452px 26px #fff, 371px 650px #fff, 277px 1589px #fff,
    1386px 1048px #fff, 284px 1051px #fff, 1137px 236px #fff, 1441px 1126px #fff,
    1081px 315px #fff, 1323px 1082px #fff, 1996px 1733px #fff;
}

#stars2 {
  position: absolute;
  left: 0;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 615px 805px #fff, 995px 470px #fff, 1568px 1666px #fff,
    699px 1223px #fff, 895px 455px #fff, 531px 1689px #fff, 106px 1192px #fff,
    1487px 644px #fff, 1525px 1932px #fff, 1822px 1306px #fff, 1385px 143px #fff,
    175px 406px #fff, 1589px 773px #fff, 952px 39px #fff, 1353px 1596px #fff,
    810px 1771px #fff, 326px 159px #fff, 292px 653px #fff, 1100px 198px #fff,
    1827px 137px #fff, 1079px 87px #fff, 1552px 398px #fff, 263px 883px #fff,
    304px 453px #fff, 743px 69px #fff, 456px 1003px #fff, 960px 827px #fff,
    1152px 492px #fff, 1692px 1317px #fff, 1062px 1955px #fff, 455px 396px #fff,
    32px 502px #fff, 782px 459px #fff, 1329px 1261px #fff, 1247px 444px #fff,
    1164px 355px #fff, 1457px 1668px #fff, 660px 380px #fff, 927px 1176px #fff,
    828px 677px #fff, 779px 1843px #fff, 271px 1501px #fff, 317px 1552px #fff,
    1245px 74px #fff, 784px 188px #fff, 1536px 1427px #fff, 1125px 1845px #fff,
    730px 342px #fff, 1878px 936px #fff, 1796px 648px #fff, 1548px 655px #fff,
    940px 1692px #fff, 1260px 355px #fff, 1788px 1399px #fff, 109px 885px #fff,
    1266px 354px #fff, 1346px 20px #fff, 1512px 1963px #fff, 1494px 1589px #fff,
    720px 803px #fff, 927px 786px #fff, 1537px 133px #fff, 1596px 2000px #fff,
    957px 1900px #fff, 1853px 838px #fff, 1634px 1721px #fff, 1876px 952px #fff,
    1903px 1942px #fff, 1755px 307px #fff, 1369px 6px #fff, 1683px 823px #fff,
    24px 1176px #fff, 776px 1273px #fff, 935px 1482px #fff, 322px 1185px #fff,
    1535px 1837px #fff, 1433px 1224px #fff, 874px 1858px #fff, 1550px 913px #fff,
    1723px 1630px #fff, 910px 1111px #fff, 123px 1505px #fff, 272px 1997px #fff,
    1806px 1890px #fff, 1429px 602px #fff, 380px 225px #fff, 1940px 828px #fff,
    961px 1272px #fff, 316px 813px #fff, 1446px 1094px #fff, 759px 366px #fff,
    1396px 1116px #fff, 1830px 669px #fff, 19px 1340px #fff, 1544px 1230px #fff,
    1521px 1610px #fff, 1703px 169px #fff, 102px 1186px #fff, 309px 878px #fff,
    1104px 1694px #fff, 1883px 667px #fff, 475px 577px #fff, 1448px 257px #fff,
    977px 28px #fff, 1957px 524px #fff, 1313px 210px #fff, 991px 663px #fff,
    1905px 885px #fff, 1070px 1373px #fff, 64px 1812px #fff, 1807px 1555px #fff,
    1308px 297px #fff, 1784px 185px #fff, 1646px 703px #fff, 1471px 592px #fff,
    1022px 341px #fff, 997px 39px #fff, 206px 654px #fff, 1622px 1958px #fff,
    1250px 975px #fff, 1160px 101px #fff, 1447px 1890px #fff, 986px 1336px #fff,
    677px 1982px #fff, 1010px 1219px #fff, 1756px 270px #fff, 635px 1225px #fff,
    1980px 347px #fff, 552px 647px #fff, 1867px 1726px #fff, 1343px 1935px #fff,
    391px 1857px #fff, 1305px 871px #fff, 1624px 1375px #fff, 1161px 665px #fff,
    634px 1796px #fff, 958px 1858px #fff, 1965px 1718px #fff, 1050px 586px #fff,
    1850px 801px #fff, 285px 455px #fff, 1924px 1776px #fff, 1823px 656px #fff,
    1801px 1092px #fff, 1438px 1494px #fff, 887px 1539px #fff, 1888px 1px #fff,
    1649px 1px #fff, 543px 1534px #fff, 1494px 1420px #fff, 1511px 53px #fff,
    1918px 583px #fff, 822px 1854px #fff, 659px 1763px #fff, 704px 1076px #fff,
    1353px 482px #fff, 368px 413px #fff, 1800px 1030px #fff, 1790px 797px #fff,
    1406px 1100px #fff, 1448px 1532px #fff, 1840px 1150px #fff,
    692px 1917px #fff, 1715px 907px #fff, 366px 591px #fff, 581px 689px #fff,
    483px 901px #fff, 1180px 340px #fff, 1781px 760px #fff, 157px 1442px #fff,
    934px 1432px #fff, 1811px 120px #fff, 1919px 963px #fff, 1240px 323px #fff,
    1394px 666px #fff, 680px 688px #fff, 1848px 1467px #fff, 74px 938px #fff,
    1862px 1898px #fff, 1893px 71px #fff, 1702px 1101px #fff, 1647px 436px #fff,
    722px 1223px #fff, 1290px 895px #fff, 1847px 976px #fff, 395px 871px #fff,
    1994px 410px #fff, 306px 492px #fff, 173px 35px #fff, 434px 1415px #fff,
    889px 423px #fff, 735px 1497px #fff, 336px 215px #fff, 1359px 519px #fff,
    1882px 1560px #fff, 1801px 1451px #fff, 1609px 1355px #fff,
    1803px 472px #fff, 1623px 850px #fff, 1436px 1950px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  /* top: 2000px; */
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 615px 805px #fff, 995px 470px #fff, 1568px 1666px #fff,
    699px 1223px #fff, 895px 455px #fff, 531px 1689px #fff, 106px 1192px #fff,
    1487px 644px #fff, 1525px 1932px #fff, 1822px 1306px #fff, 1385px 143px #fff,
    175px 406px #fff, 1589px 773px #fff, 952px 39px #fff, 1353px 1596px #fff,
    810px 1771px #fff, 326px 159px #fff, 292px 653px #fff, 1100px 198px #fff,
    1827px 137px #fff, 1079px 87px #fff, 1552px 398px #fff, 263px 883px #fff,
    304px 453px #fff, 743px 69px #fff, 456px 1003px #fff, 960px 827px #fff,
    1152px 492px #fff, 1692px 1317px #fff, 1062px 1955px #fff, 455px 396px #fff,
    32px 502px #fff, 782px 459px #fff, 1329px 1261px #fff, 1247px 444px #fff,
    1164px 355px #fff, 1457px 1668px #fff, 660px 380px #fff, 927px 1176px #fff,
    828px 677px #fff, 779px 1843px #fff, 271px 1501px #fff, 317px 1552px #fff,
    1245px 74px #fff, 784px 188px #fff, 1536px 1427px #fff, 1125px 1845px #fff,
    730px 342px #fff, 1878px 936px #fff, 1796px 648px #fff, 1548px 655px #fff,
    940px 1692px #fff, 1260px 355px #fff, 1788px 1399px #fff, 109px 885px #fff,
    1266px 354px #fff, 1346px 20px #fff, 1512px 1963px #fff, 1494px 1589px #fff,
    720px 803px #fff, 927px 786px #fff, 1537px 133px #fff, 1596px 2000px #fff,
    957px 1900px #fff, 1853px 838px #fff, 1634px 1721px #fff, 1876px 952px #fff,
    1903px 1942px #fff, 1755px 307px #fff, 1369px 6px #fff, 1683px 823px #fff,
    24px 1176px #fff, 776px 1273px #fff, 935px 1482px #fff, 322px 1185px #fff,
    1535px 1837px #fff, 1433px 1224px #fff, 874px 1858px #fff, 1550px 913px #fff,
    1723px 1630px #fff, 910px 1111px #fff, 123px 1505px #fff, 272px 1997px #fff,
    1806px 1890px #fff, 1429px 602px #fff, 380px 225px #fff, 1940px 828px #fff,
    961px 1272px #fff, 316px 813px #fff, 1446px 1094px #fff, 759px 366px #fff,
    1396px 1116px #fff, 1830px 669px #fff, 19px 1340px #fff, 1544px 1230px #fff,
    1521px 1610px #fff, 1703px 169px #fff, 102px 1186px #fff, 309px 878px #fff,
    1104px 1694px #fff, 1883px 667px #fff, 475px 577px #fff, 1448px 257px #fff,
    977px 28px #fff, 1957px 524px #fff, 1313px 210px #fff, 991px 663px #fff,
    1905px 885px #fff, 1070px 1373px #fff, 64px 1812px #fff, 1807px 1555px #fff,
    1308px 297px #fff, 1784px 185px #fff, 1646px 703px #fff, 1471px 592px #fff,
    1022px 341px #fff, 997px 39px #fff, 206px 654px #fff, 1622px 1958px #fff,
    1250px 975px #fff, 1160px 101px #fff, 1447px 1890px #fff, 986px 1336px #fff,
    677px 1982px #fff, 1010px 1219px #fff, 1756px 270px #fff, 635px 1225px #fff,
    1980px 347px #fff, 552px 647px #fff, 1867px 1726px #fff, 1343px 1935px #fff,
    391px 1857px #fff, 1305px 871px #fff, 1624px 1375px #fff, 1161px 665px #fff,
    634px 1796px #fff, 958px 1858px #fff, 1965px 1718px #fff, 1050px 586px #fff,
    1850px 801px #fff, 285px 455px #fff, 1924px 1776px #fff, 1823px 656px #fff,
    1801px 1092px #fff, 1438px 1494px #fff, 887px 1539px #fff, 1888px 1px #fff,
    1649px 1px #fff, 543px 1534px #fff, 1494px 1420px #fff, 1511px 53px #fff,
    1918px 583px #fff, 822px 1854px #fff, 659px 1763px #fff, 704px 1076px #fff,
    1353px 482px #fff, 368px 413px #fff, 1800px 1030px #fff, 1790px 797px #fff,
    1406px 1100px #fff, 1448px 1532px #fff, 1840px 1150px #fff,
    692px 1917px #fff, 1715px 907px #fff, 366px 591px #fff, 581px 689px #fff,
    483px 901px #fff, 1180px 340px #fff, 1781px 760px #fff, 157px 1442px #fff,
    934px 1432px #fff, 1811px 120px #fff, 1919px 963px #fff, 1240px 323px #fff,
    1394px 666px #fff, 680px 688px #fff, 1848px 1467px #fff, 74px 938px #fff,
    1862px 1898px #fff, 1893px 71px #fff, 1702px 1101px #fff, 1647px 436px #fff,
    722px 1223px #fff, 1290px 895px #fff, 1847px 976px #fff, 395px 871px #fff,
    1994px 410px #fff, 306px 492px #fff, 173px 35px #fff, 434px 1415px #fff,
    889px 423px #fff, 735px 1497px #fff, 336px 215px #fff, 1359px 519px #fff,
    1882px 1560px #fff, 1801px 1451px #fff, 1609px 1355px #fff,
    1803px 472px #fff, 1623px 850px #fff, 1436px 1950px #fff;
}

#stars3 {
  position: absolute;
  left: 0;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 3px 1501px #fff, 130px 991px #fff, 1621px 159px #fff,
    890px 580px #fff, 1229px 1216px #fff, 968px 1324px #fff, 1324px 258px #fff,
    686px 252px #fff, 1133px 1429px #fff, 912px 1672px #fff, 491px 542px #fff,
    981px 536px #fff, 197px 1px #fff, 1487px 1223px #fff, 873px 1493px #fff,
    1445px 1604px #fff, 939px 1036px #fff, 1676px 202px #fff, 967px 681px #fff,
    1835px 500px #fff, 1668px 1917px #fff, 1590px 1854px #fff, 1871px 664px #fff,
    1606px 1091px #fff, 1233px 1515px #fff, 1371px 1289px #fff,
    1836px 610px #fff, 346px 1683px #fff, 491px 423px #fff, 1300px 166px #fff,
    1522px 167px #fff, 1054px 713px #fff, 997px 1351px #fff, 79px 714px #fff,
    244px 1556px #fff, 306px 43px #fff, 1686px 1147px #fff, 1376px 1857px #fff,
    829px 94px #fff, 1534px 1108px #fff, 806px 1861px #fff, 1539px 1357px #fff,
    1016px 1853px #fff, 1511px 481px #fff, 1786px 1175px #fff, 1568px 352px #fff,
    1996px 1073px #fff, 1575px 1334px #fff, 1402px 950px #fff,
    1620px 1134px #fff, 988px 1499px #fff, 1739px 780px #fff, 1347px 934px #fff,
    836px 1564px #fff, 824px 512px #fff, 1565px 1614px #fff, 1479px 1913px #fff,
    1427px 813px #fff, 1004px 1684px #fff, 1756px 1636px #fff, 172px 254px #fff,
    1589px 1097px #fff, 1560px 258px #fff, 1085px 317px #fff, 571px 207px #fff,
    1083px 1079px #fff, 192px 659px #fff, 1930px 1510px #fff, 98px 839px #fff,
    721px 935px #fff, 1617px 1015px #fff, 1825px 859px #fff, 1834px 1487px #fff,
    134px 510px #fff, 1273px 400px #fff, 1531px 523px #fff, 1274px 1880px #fff,
    664px 248px #fff, 895px 807px #fff, 156px 1974px #fff, 146px 1441px #fff,
    1862px 594px #fff, 1863px 435px #fff, 38px 1163px #fff, 391px 1092px #fff,
    302px 1018px #fff, 880px 230px #fff, 1294px 1622px #fff, 1200px 1634px #fff,
    72px 1538px #fff, 523px 282px #fff, 665px 1780px #fff, 1138px 1330px #fff,
    884px 1516px #fff, 1780px 778px #fff, 207px 938px #fff, 1728px 1518px #fff,
    776px 1079px #fff, 1942px 220px #fff, 955px 1747px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  /* top: 2000px; */
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 3px 1501px #fff, 130px 991px #fff, 1621px 159px #fff,
    890px 580px #fff, 1229px 1216px #fff, 968px 1324px #fff, 1324px 258px #fff,
    686px 252px #fff, 1133px 1429px #fff, 912px 1672px #fff, 491px 542px #fff,
    981px 536px #fff, 197px 1px #fff, 1487px 1223px #fff, 873px 1493px #fff,
    1445px 1604px #fff, 939px 1036px #fff, 1676px 202px #fff, 967px 681px #fff,
    1835px 500px #fff, 1668px 1917px #fff, 1590px 1854px #fff, 1871px 664px #fff,
    1606px 1091px #fff, 1233px 1515px #fff, 1371px 1289px #fff,
    1836px 610px #fff, 346px 1683px #fff, 491px 423px #fff, 1300px 166px #fff,
    1522px 167px #fff, 1054px 713px #fff, 997px 1351px #fff, 79px 714px #fff,
    244px 1556px #fff, 306px 43px #fff, 1686px 1147px #fff, 1376px 1857px #fff,
    829px 94px #fff, 1534px 1108px #fff, 806px 1861px #fff, 1539px 1357px #fff,
    1016px 1853px #fff, 1511px 481px #fff, 1786px 1175px #fff, 1568px 352px #fff,
    1996px 1073px #fff, 1575px 1334px #fff, 1402px 950px #fff,
    1620px 1134px #fff, 988px 1499px #fff, 1739px 780px #fff, 1347px 934px #fff,
    836px 1564px #fff, 824px 512px #fff, 1565px 1614px #fff, 1479px 1913px #fff,
    1427px 813px #fff, 1004px 1684px #fff, 1756px 1636px #fff, 172px 254px #fff,
    1589px 1097px #fff, 1560px 258px #fff, 1085px 317px #fff, 571px 207px #fff,
    1083px 1079px #fff, 192px 659px #fff, 1930px 1510px #fff, 98px 839px #fff,
    721px 935px #fff, 1617px 1015px #fff, 1825px 859px #fff, 1834px 1487px #fff,
    134px 510px #fff, 1273px 400px #fff, 1531px 523px #fff, 1274px 1880px #fff,
    664px 248px #fff, 895px 807px #fff, 156px 1974px #fff, 146px 1441px #fff,
    1862px 594px #fff, 1863px 435px #fff, 38px 1163px #fff, 391px 1092px #fff,
    302px 1018px #fff, 880px 230px #fff, 1294px 1622px #fff, 1200px 1634px #fff,
    72px 1538px #fff, 523px 282px #fff, 665px 1780px #fff, 1138px 1330px #fff,
    884px 1516px #fff, 1780px 778px #fff, 207px 938px #fff, 1728px 1518px #fff,
    776px 1079px #fff, 1942px 220px #fff, 955px 1747px #fff;
}

#title {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  /* margin-top: -60px; */
  /* padding-left: 10px; */
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
